.App {
  text-align: center;
}
.ui.main.container{
  margin-top: 6em;
}
.login{
  background-color: #1197cc;
  box-shadow: #094c66 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200 ms; box-shadow: 200ms;
}

.login:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c66 0px 0px 0px;
}
.btn-hover{
  width: 90px;
  font-size: 16px;
  font-weight: 600;
  color: #448ba7;
  cursor: pointer;
  margin: 5px;
  height: 45px;
  text-align: center;
  border-radius: 20px;

  
}


.loginn {
  align-items: center;
  appearance: none;
  background-color: rgb(59, 224, 169);
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 39px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: normal;
  max-width: 80%;
  overflow: visible;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}





